<% layout('layout') %>


 <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#direct">Direct Query</a></li>
    <li><a data-toggle="tab" href="#build">Build <Query></Query></a></li>
    <li><a data-toggle="tab" href="#complex">Complex Query</a></li>
  </ul>

<div class="tab-content">

<div id="direct" class="tab-pane fade in active">
    <h2> Direct Query </h2><br>
    <input type="text" id="direct_db" name="db" class="form-control" placeholder="Database" required><br>
     <input type="text" id="direct_query" name="q" class="form-control" placeholder="Query" required><br>
    <button id="direct_submit" class="btn btn-primary" >Submit</button>
    </div>

    <br>

<div id="build" class="tab-pane fade">
    <h2> Build Query </h2><br>

<div class="panel panel-default">
      <div class="panel-heading">DB and Table</div>
      <div class="panel-body">
        
    <form id="builder" method="post" action="/getCols">
      <input id="db" type="text" name="db" class="form-control" placeholder="Database" value="<%= db %>" required>
      <br>
      <input id="table" type="text" name="table" class="form-control" placeholder="Table" value="<%= table %>" required>
     <br>
     <button value="submit" class="btn btn-primary" >Find Fields</button>
      <br>

      </form>
      </div>
    </div>


    

    <div class="panel panel-default">
      <div class="panel-heading"><h4> SELECT </h4></div>
      <div class="panel-body"> <div class="row">

    <div class="col-md-4">
      <select id="field_name" class="form-control">
        <% if(fields) {  %>
        <% for(var i=0;i<fields.length;i++) {  %>

          <% if(fields[i].data_type=="USER-DEFINED") { %>
          <option name="ST_X(<%= fields[i].column_name %>)" value="ST_X(<%= fields[i].column_name %>)"> Longitude </option>
          <option name="ST_Y(<%= fields[i].column_name %>)" value="ST_Y(<%= fields[i].column_name %>)"> Latitude </option>
          <% } else {  %>
          <option  name="<%= fields[i].column_name %>" value="<%= fields[i].column_name %>"><%= fields[i].column_name %></option>
          <% } }  } %>

          <option name="count(*)" value="count(*)">count(*)</option>
      </select>
      </div>

          <div class="col-md-4">
      <input type="text" id="field_as" class="form-control" placeholder="AS">
      </div>

          <div class="col-md-4">
      <button id="addClick" class="btn btn-primary" > Add Non Spatial field </button>
      </div>
      </div>
      
      </div>
    </div>
     
       
       <label id="query"> SELECT </label>
        
<br>
     
      <div class="panel panel-default">
      <div class="panel-heading"><h4> CONDITIONS </h4></div>
      <div class="panel-body"><div class="row">

      <div class="col-md-3">
          <select id="wh_field" class="form-control">
        <% if(fields) {  %>
        <% for(var i=0;i<fields.length;i++) {  %>

          <% if(fields[i].data_type=="USER-DEFINED") { %>
          <option name="ST_X(<%= fields[i].column_name %>)" value="ST_X(<%= fields[i].column_name %>)"> Longitude </option>
          <option name="ST_Y(<%= fields[i].column_name %>)" value="ST_Y(<%= fields[i].column_name %>)"> Latitude </option>
          <% } else {  %>
          <option  name="<%= fields[i].column_name %>" value="<%= fields[i].column_name %>"><%= fields[i].column_name %></option>
          <% } }  } %>

          <option name="count(*)" value="count(*)">count(*)</option>
      </select>
      </div>

            <div class="col-md-3">
        <select id="wh_choose" class="form-control">
          <option name="equal" value="equal" >Equal</option>
          <option name="greater" value="greater" >Greater than</option>

        </select>
      </div>

            <div class="col-md-3">
        <input type="text" class="form-control" placeholder="Condition" id="wh_condition">
      </div>

      <div class="col-md-3">
      <button id="conditionClick" class="btn btn-primary">Add Condition </button>
     </div>

     </div>
     </div>
    </div>


       <label id="where"> WHERE </label>

     <br>

<button type="submit" class="btn btn-primary" id="makeFinal">Go</button>

</div>


<div id="complex" class="tab-pane fade">
<h1> Complex Queries </h1>
  </div>
</div>